<md-data-table layout-fill>
  <thead>
  <tr>
    <th *ngFor="let column of columns">{{column.title}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let record of records">
    <td *ngFor="let column of columns">{{ record[column.name] }}</td>
    <td class="button-table" *ngIf="additionElements.length">
      <a *ngFor="let elem of additionElements" (click)="handle({type : elem.link, id :  record.code})" class="{{elem.className}}"><button md-mini-fab >
        <md-icon class="md-24">{{elem.name}}</md-icon>
      </button></a>
    </td>
  </tr>
  </tbody>
</md-data-table>

