<aside class="aside aside-1">
    <div class="container patient-padding">
        <div class=" row name-container">
            <div class="name-info col s9">{{nameOfPatient}}</div>
          <div class="name-edit col s3"><i class="fa fa-3 fa-pencil" aria-hidden="true"></i></div>
        </div>
        <div class="birthday-container information-patient">
            <div class="title">Birthday:</div>
            <div class="birthday-info">{{birthday}}</div>
        </div>
        <div class="address-container information-patient">
            <div class="title">Full Address:</div>
            <div class="address-info">{{fullAddress}}</div>
        </div>
    </div>
</aside>
